# Example Ytpb configuration file.
#
# This is a sample file containing all known settings and its description. Some
# values equal to the default configuration values (see config.py instead) and
# some are not. To ovverride or extend the default values, copy and modify the
# content (or part of the content) of this file to
# $XDG_CONFIG_HOME/ytpb/config.toml.
#
# See also https://ytpb.readthedocs.io/en/latest/cli.html#configuring.

version = 2

# Default values for the CLI options. Each section corresponds to command (or
# sub-command). See help of a command for all options, and use long names only.
[options]

# Defaults for global options, for example:
#   debug = true

[options.download]
audio-format = "itag = 140"
video-format = "best(@avc1 and @<=1080p and @30fps)"
output = "{{ title|adjust }}_{{ id }}_{{ input_start_date|isodate }}"

[options.capture.frame]
video-format = "best(@30fps)"
output-path = "{{ title|adjust }}_{{ id }}_{{ moment_date|isodate }}.jpg"

[options.capture.timelapse]
video-format = "best(@30fps)"
# An example of multi-line string template:
output-path = """
{% set title_and_id = title|adjust ~ '_' ~ id %}
{% set every_label = (every|duration).replace('PT', 'ET' %}
{% set where = '{}/{}/{}'.format(title_and_id, input_start_date|isodate, every_label) %}
{% set filename = '{}_{}_{}'.format(title_and_id, input_start_date|isodate, every_label) %}
{{ where }}/{{ filename }}_%04d.jpg"""

[options.mpd.compose]
audio-formats = "itag = 140"
video-formats = "@vp9 and [@720p or @1080p] and @30fps"
output = "{{ title|adjust }}_{{ id }}_{{ input_start_date|isodate }}.mpd"

# General settings.
[general]

# Preview duration for the preview start (--preview-start) and end
# (--preview-end) modes (in seconds).
preview_duration = 10
# The User-Agent HTTP header.
user_agent = "Mozilla/5.0 (Android 14; Mobile; rv:68.0) Gecko/68.0 Firefox/120.0"

# Custom aliases used in format specs. See
# https://ytpb.readthedocs.io/en/latest/reference.html#aliases.
[general.aliases]
custom = "@vp9 and [@720p or @1080p]"
another = "@custom-alias and @30fps"
