name: Tests

on:
  push:
    branches: [main]
    paths-ignore:
      - 'docs/**'
      - '**.rst'

  pull_request:
    branches: [main]
    paths-ignore:
      - 'docs/**'
      - '**.rst'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.12]
        os: [ubuntu-latest, macos-15-intel, windows-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Set up FFmpeg
      uses: FedericoCarboni/setup-ffmpeg@v3
      with:
        ffmpeg-version: release
        architecture: ''
        github-token: ${{ github.server_url == 'https://github.com' && github.token || '' }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[test]
    - name: Run tests
      run: |
        python -m pytest tests -ra
